{% extends "base.html" %}
{% block content %}
{% for breadcrumb in request.breadcrumbs %}
{% if not forloop.last %}<a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a> > {% endif %} {% if forloop.last %} {{ breadcrumb.name }} {% endif %}
{% endfor %}
<br/><br/>
    <h3>Заявки на участие в торгах <a href="{% url apps.auction.views.view id=auction.id %}">АДП-{{ auction.id }}</a></h3>

            <a href="{{ auction.buy_request_review.url }}" title="Открыть файл">
                Просмотр ({{ auction.buy_request_review.size|filesizeformat }})</a>


    
    <table>
    <thead>
        <tr>
            <th>Дата и время подачи заявки</th>
            <th>Состояние</th>
        </tr>
        </thead>
        <tbody>
        {% for request in request_list %}
            <tr>
                <td>
                    <a href="{% url apps.request.views.buy_view id=request.id %}"
                       title="Просмотр">{{ request.create_date|date:"d.m.Y H:i" }}</a>
                </td>
                <td>{{ request.get_status_display }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">Нет активных заявок на участие в торгах.</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}