{% extends "base.html" %}



{% block content %}
<h3>Создание торгов</h3>
<p>Шаг {{ step }} из {{ step_count }}</p>

    <form action="{{ url }}" method="post" enctype="multipart/form-data" class="uniForm">
        {% csrf_token %}

        {% for field in form %}
            <div id="{{field.name}}">
                <div class="ctrlHolder">
                    <label for="id_{{field.name}}">
                        {% if field.field.required %}
                            <em>*</em>
                        {% endif %}
                        {{ field.label }}
                   </label>

                    {{ field }}

                    {% if field.help_text %}
                        <p class="formHint">{{ field.help_text }}</p>
                    {% endif %}

                    {% for error in field.errors %}
                        <div class="error">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}


        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
            {{ previous_fields|safe }}

        <div class="buttonHolder">
            <input type="submit" value="Продолжить" />
        </div>
        <br/>
    </form>

{% endblock %}