<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<head>
    <title>Протокол о результатах проведения торгов</title>
    <style type="text/css">
        @font-face {
	        font-family: tender;
	        src: url('{{ MEDIA_URL }}media/fonts/mplus-1c-regular.ttf');
        }
        @font-face {
	        font-family: arial;
	        src: url('{{ MEDIA_URL }}media/fonts/arial.ttf');
        }
        @font-face {
	        font-family: times;
	        src: url('{{ MEDIA_URL }}media/fonts/times.ttf');
        }
        html {
            font-family: arial;
            font-size:11pt;
            color:black;
        }
        table, p {
            color:#696969;
        }

        h1{
            text-align:center;
        }

        a {
            color:#6495ed;
        }
        .right {
            text-align:right;
        }
    </style
</head>
<body>

<h1>Протокол о результатах проведения торгов</h1>

<span class="right">
<a href="{{ winner.site }}">{{ winner.site }}</a>
</span>

<h3>Вид торгов</h3>
<p>{{ winner.tender_type }}</p>

<h3>Предмет торгов</h3>
<p>{{ winner.lot }}</p>

<h2>Участники торгов</h2>
<table>
{% for nbz in ctx %}
    <tr>
        <td>{{ nbz.name }}</td>
        <td>{{ nbz.address }}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan="2">Нет данных</td>
    </tr>

{% endfor %}
</table>
<h2>Победитель</h2>
<p>{{ winner.name|default:'Нет данных' }} </p>
<p>{{ winner.address }}</p>

</body>
</html>

