<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<head>
    <title>Уведомление об отказе в призании участником торгов</title>
    <style type="text/css">
        @font-face {
	        font-family: tender;
	        src: url('{{ MEDIA_URL }}media/fonts/mplus-1c-regular.ttf');
        }
        @font-face {
	        font-family: arial;
	        src: url('{{ MEDIA_URL }}media/fonts/arial.ttf');
        }
        @font-face {
	        font-family: times;
	        src: url('{{ MEDIA_URL }}media/fonts/times.ttf');
        }
        html {
            font-family: arial;
            font-size:11pt;
            color:black;
        }
        table, p {
            color:#696969;
        }

        h1{
            text-align:center;
        }

        a {
            color:#6495ed;
        }
        .right {
            text-align:right;
        }
    </style
</head>
<body>

<h1>Уведомление об отказе в призании участником торгов</h1>

<span class="right">
<a href="{{ info.site }}">{{ info.site }}</a>
</span>

<p>Вам было отказано в признании участником торгов.</p>

</body>
</html>

